/*Empieza estilo de la pag servicios*/
.mainservicios {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    p {
        margin-left: 100px;
    }
    #servicios {
        padding: 100px;
    }
    #phishing {
        margin-left: 200px;
    }
}


#carouselServicios{
    max-width: 1000px;
}

/*Termina estilo de la pag servicios*/